/* html{
    scroll-behavior: smooth;
}
.heading{
    color: red;
}
.paris{
    background-color: brown;
}
#london_heading{
    background-color: pink;
} */
.lorem_ipsum{
    border: 10px ridge lightgreen;
    margin: 5px;
}
.lorem_ipsum span{
    padding: 0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}